* {
    box-sizing: border-box;
}

#appbarActions {
    list-style-type: none;
}

#appbarActions li {
    display: inline-block;
    background-color: black;
    color: white;
    margin-right: 14px;
    cursor: pointer;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #F3F4F6;
}

header {
    font-weight: bold;
    margin-top: 60px;
    margin-left: 30px;
}

#headerDivider {
    margin-right:  70%;
    margin-left: 30px;
    border-top-width: 2px;
    border-top-style: solid;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}