* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --accent-color: #b8860b;
    --text-color: #374151;
}

#nun, #nun * {
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

#aboutCard {
    border-radius: 5px;
    background-color: #E5E7EB;
    margin: 20px 20%;
    padding: 20px 10px;
    color: var(--text-color);
    line-height: 1.3;
}

#aboutCard h3 {
    color: var(--accent-color);
}

#aboutTab {
    width: 100%;
    height: max-content;
    padding: 20px 18% 40px;
}

#aboutTab h1 {
    font-size: 4em;
    color: white;
    margin-left: 30px;
}

#aboutTab h1 span {
    background-color: white;
    color: var(--accent-color);
}

#appbarActions {
    list-style-type: none;
}

#appbarActions li {
    display: inline-block;
    background-color: black;
    color: white;
    margin-right: 14px;
    cursor: pointer;
}

#backgroundImage {
    border-radius: 5px;
    width: 100%;
    height: max-content;
    background-image: url('images/nightmarket.jpg');
    background-size: cover;
    padding: 30px 30px;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #F3F4F6;
}

.collectionItem {
    color: var(--text-color);
    font-size: 0.9em;
}

.collectionItem button {
    margin: 15px 20px 15px 80%;
    background-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: #9CA3AF;
    color: #4B5563;
    padding: 15px 20px;
}

.collectionItem h1 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--accent-color);
    padding: 30px 0 15px;
}

#collectionsTab {
    padding: 20px 20%;
}

#contactTab {
    padding: 80px 28px;
}

#contactTab h1 {
    color: var(--accent-color);
    font-weight: normal;
    font-size: 2.5rem;
}

#contactTab p {
    border-left-color: #9CA3AF;
    border-left-style: solid;
    border-left-width: 4px;
    color: var(--text-color);
    width: 400px;
    margin-top: 3px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

footer {
    background-color: #D1D5DB;
    text-align: center;
    padding: 20px;
    color: var(--text-color);
    font-size: 0.7em;
}

form {
    background-color: #D1D5DB;
    padding: 30px;
    border-radius: 5px;
    margin-right: 30px;
}

form input {
    margin-bottom: 10px;
    border: none;
}

form label {
    color: var(--text-color);
    font-size: 0.9em;
}

form #submitButton {
    border-style: solid;
    border-width: 1px;
    border-color: var(--text-color);
    border: none;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: inherit;
    padding: 8px 50px;
    border-radius: 3px;
    margin: 10px 0;
}

form textarea {
    border: none;
}

header {
    font-weight: bold;
    margin-top: 60px;
    margin-left: 30px;
}

#headerDivider {
    margin: 20px 70% 10px 30px;
    border-top-width: 2px;
    border-top-style: solid;
}

.navDrawerButton {
    display: none;
}

#pictureGrid {
    padding: 40px 10%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 450px 450px 450px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

#pictureGrid img {
    height: 450px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

@media(max-device-width: 592px) {

    #aboutCard {
        border-radius: 10px;
        margin: 80px 0;
        padding: 40px 40px;
    }

    #aboutCard h3 {
        font-size: 3em;
    }

    #aboutCard p {
        font-size: 2em;
    }

    #aboutTab {
        padding: 0;
    }

    #aboutTab h1 {
        font-size: 6em;
        margin-top: 40px;
    }

    #appbarActions {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background-color: black;
        opacity: 0.93;
        padding: 0;
        overflow-x: hidden;
        transition: 1s;
    }

    #appbarActions li {
        display: block;
        text-align: center;
        margin: 0;
        clear: right;
        padding: 40px;
    }

    #bottomCollection {
        margin-bottom: 400px;
    }

    .collectionItem {
        font-size: 1.8em;
    }

    .collectionItem button {
        margin: 50px 0 50px;
        border-width: 2px;
        border-color: #4B5563;
        font-size: 2em;
    }

    .collectionItem h1 {
        font-size: 4.5rem;
        padding: 50px 0 50px;
    }

    #collectionsTab {
        padding: 20px 40px;
    }

    #collectionsTab h2 {
        font-size: 4em;
        font-weight: normal;
    }

    #contactTab {
        padding: 0 40px;
    }

    #contactTab h1 {
        font-size: 4em;
        margin: 20px 0;
    }

    #contactTab p {
        border: none;
    }

    footer {
        height: fit-content;
        text-align: start;
        padding: 50px 400px 50px 20px;
        font-size: 3em;
    }

    form {
        margin: 0 0 40px;
        border-radius: 16px;
    }

    form input {
        margin-top: 20px;
        margin-bottom: 50px;
        height: 100px;
        width: 100%;
    }

    form label {
        font-size: 3em;
    }

    form #submitButton {
        font-size: 3em;
        margin-top: 50px;
        height: 150px;
        border-radius: 16px;
    }

    form textarea {
        margin-top: 20px;
    }

    header {
        margin: 0;
        padding: 0;
        max-width: fit-content;
        float: right;
        margin-top: 60px;
        padding-right: 8px;
    }

    #headerDivider {
        margin: 0;
    }

    #navbar {
        position: sticky;
        top: 0;
        width: 100%;
        font-size: 3rem;
        background-color: white;
    }

    #navbar > * {
        width: 100%;
    }

    .navCloseButtonBar {
        margin: 0 20px;
        color: white;
        font-size: 5rem;
    }

    .navDrawerButtonBar {
        background-color: black;
        height: 10px;
        width: 80px;
        margin: 20px;
    }

    #navDrawerCloseButton {
        display: block;
        text-align: end;
        max-width: fit-content;
        float: right;
        margin-right: 60px;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    #navDrawerOpenButton {
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
        max-width: fit-content;
    }

    #pictureGrid {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
    }

    #pictureGrid img {
        height: unset;
        width: 100%;
        margin-bottom: 20px;
    }

    .row {
        flex-direction: column;
        justify-content: center;
    }
}